body {background-color: #2E2E2E}

h2 {font-size: 2.3em;
     color: #ffa600 ;
    }
    
.col-sm-2{ background-color: #2E2E2E;} 

.col-sm-10{ margin-top: 15px;} 

.well{ background-color: #2E2E2E;
  height: 100%;
  text-align:center;
  margin-top: 5px;
} 

hr {
  border-top: 1px #ffa600;
  }

span {
  color: #ffa600;
  font-weight: bold;
}

.control-label{color: white}

a:link { color: #ccc8c8; font-style: italic; font-weight: normal; font-size: .9em}
a:visited { color: #ccc8c8; font-style: italic; font-weight: normal; font-size: .9em}
a:hover { color: #ffe96b; font-style: italic; font-weight: normal; font-size: .9em}
a:active { color: #ccc8c8; font-style: italic; font-weight: normal; font-size: .9em}

.irs-bar {background-color: #ffa600; border : #ffa600}
.irs-from {background-color: #ffa600 ; color : #2E2E2E}
.irs-to {background-color: #ffa600; color : #2E2E2E}
.irs-single {background-color: #ffa600; color : #2E2E2E}